body {
    height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-image: url("#{resource['img:background.png']}")
}

#basket {
    position: absolute;
    right: 200px;
    width: 400px;
    background-color: red;
}
/*TODO pododawac laniejszy css na popup*/